{% extends 'core/base.html' %}

{% block title %} About | {{ block.super }}{% endblock title %}

{% block content %}

<h1>About US</h1>
<hr>
<p>Paragon is simply a company built and developed for empowerment and development of the student and youth as a whole hence creating a sense of purpose and  preparing them for a greater future, a greater tomorrow. Paragon has been the industry's standard for all student and youth  ever since the 2000s, they provide financial support , financial education for all their members . It has survived not only five years , but also the leap into educating the youth and providing professional skill into many sectors, remaining essentially unchanged.
Why do we use it?</p>

<p>It is a long established fact , members are educated on how to spend money , save money , invest their money to produce outstanding result that stands. The point of using paragon  is that it has a more-or-less normal distribution of liquidity, as opposed to using 'Content here, content here', making it look like E-Business. Many student  and youth  now use paragon to secure fund as member, and a search for 'paragon' will uncover many web sites still in their infancy. 
</p>


<p>The standard chunk of Paragon used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>

{% endblock content %}
