<hr>
<footer class="footer navbar-fixed">
    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">
            <!--First column-->
            <div class="col-md-6">
                <h4 class="title"><b>Withdrawal and Buy Airtime</b></h4>
                <p>To withdraw your money ,please text withdrawal with your account details used for registration e.g name, your paragon account number(PAN), email phone number  and  amount you want to withdraw with the account details to recieve it (LAD). send the message to this number  08108141473 or +2348057388145  or contact the admin .      To purchase airtime just text AIRTIME  with your paragon account details (PAN) with the Network and the amount you want to suscribe. This is for security reasons. Thanks for trusting us!</p>
            </div>
            <!--/.First column-->
            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title"><b>Links</b></h5>

                <a href="{% url 'home' %}">Home </a>|
                <a href="{% url 'about' %}">About Us</a> |&nbsp;


            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2021 Copyright: <a href="http://127.0.0.1:8000/"> sampepper-banking-system.com</a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<br>
